/* ================================
   ESTILOS GENERALES
================================ */
#register-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #120808, #000000);
  padding: px;
  box-sizing: border-box;
}

/* ================================
   CONTENEDOR DEL FORMULARIO
================================ */
.register-container {
  background: #090808;
  width: 100%;
  max-width: 400px;
  padding: 22px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
  animation: fadeIn 0.8s ease;
  border: 2px solid #e77474;
}

/* ================================
   LOGO
================================ */
.register-logo {
  width: 90px;
  margin-bottom: 15px;
}

/* ================================
   TÍTULO
================================ */
h1 {
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 20px;
}

/* ================================
   FORMULARIO
================================ */
.register-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.register-form label {
  font-size: 14px;
  color: #fbfbfb;
  margin-bottom: 5px;
}

.register-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 18px;
  font-size: 15px;
  transition: border 0.3s;
}

.register-form input:focus {
  border-color: #ad0260;
  outline: none;
}

/* ================================
   BOTÓN PRINCIPAL
================================ */
.btn-primary {
  padding: 12px;
  background: #a9363a;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}

.btn-primary:hover {
  background: #aa1010;
}

/* ================================
   TEXTO DE "YA TENGO CUENTA"
================================ */
.login-text {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.login-text a {
  color: #de2541;
  text-decoration: none;
  font-weight: bold;
}

.login-text a:hover {
  text-decoration: underline;
}

/* ================================
   MENSAJES
================================ */
.register-message {
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}

/* ================================
   ANIMACIONES
================================ */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
